body{
    overflow-y: hidden;
    overflow-x: scroll;
    background-size: cover;
}
.load{
    animation: slide 2s;
    transition: ease;
}

.slider{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    animation: slide 30s infinite;
}
.header{
    background-color: blueviolet;
}
.content{
    width: 100%;
    height: 100vh;
    background-color: darkorchid;
    background-color: rgba(0, 0, 0, 0.5);
}

.button{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-55%,-50%);
    color: #fff;
    object-position: center;
    text-align: center;
    
}

.btn{
    display: table;
    text-align: center;
    letter-spacing: .02;
    font-weight: 700;
    background-color: darkorchid;
    border-radius: 24em;
    border: 1px solid #fff;
    padding: 10px;
    margin-bottom: 1em;
    color: #fff;
    text-decoration: none;
    transition: ease;
}
.btn-medium{
    font-size: 1em;
    padding: 1em 2em;
}

.btn:hover{
    background-color: white;
    color: #fff;
}

.principal{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    letter-spacing: 5px;
    text-align: center;
    text-align: center;
    color: #fff;
    
}
.principal h1{
    font-size: 50px;
    margin-bottom: 35px;
    color: #fff;
}
.principal p{
    font-size: 16px;
}
@keyframes slide {
    0%{
        background-image: url(../images/people-gathering-in-event-and-band-group-performing-on-stage-1983046.jpg);
    }
    20%{
        background-image: url(../images/people-gathering-in-event-and-band-group-performing-on-stage-1983046.jpg);
    }
    20.01%{
        background-image: url(../images/black-laptop-beside-audio-mixer-set-919734.jpg);
    }
    40%{
        background-image: url(../images/black-laptop-beside-audio-mixer-set-919734.jpg);
    }
    40.01%{
        background-image: url(../images/dj-performing.jpg);
    }
    60%{
        background-image: url(../images/dj-performing.jpg);
    }
    60.01%{
        background-image: url(../images/live-perfomance.jpg);
    }
    80%{
        background-image: url(../images/live-perfomance.jpg);
    }
    80.01%{
        background-image: url(../images/two-person-sitting-on-sofa-2608512.jpg);
    }
    100%{
        background-image: url(../images/two-person-sitting-on-sofa-2608512.jpg);
    }

}
