
#ab{
    color:white;
    font-size: 30px;
    text-align: center;
    border:10px dotted grey;
    border-width:  auto;
    width: 80%;
    margin-left: 8%;
    margin-top: 3%;
}
body{
  background-image: url('./img1/bck.jpg');
}
.bg-primary{
  background-color: purple;
}
