*{
  margin: 0;
  padding: 0;
  font-family: fantasy;
  color: #000;
}
header{
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/man-on-stage-1.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}
ul{
  float: right;
  list-style-type: none;
  margin-top: 25px;
}
ul li{
  display: inline-block;
}
ul li a{
  text-decoration: none;
  color: white;
  padding: 5px 20px;
  border: 1px solid transparent;
  transition: 0.6s ease;
}
ul li a:hover{
  background-color: lightgrey;
  color: #000;
}
ul li.active a{
  background-color: lightgrey;
  color: #000;
}
.logo img{
  float: left;
  width: 200px;
  height: auto;
}
.main{
  max-width: 1200px;
  margin: auto;
}

#ab{
    color:white;
    font-size: 30px;
    text-align: center;
    border:10px dotted grey;
    border-width:  auto;
    width: 80%;
    margin-left: 8%;
    margin-top: 3%;
}
