*{
  margin: 0;
  padding: 0;
  font-family: fantasy;
}
header{
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/man-on-stage-1.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}
ul{
  float: right;
  list-style-type: none;
  margin-top: 25px;
}
ul li{
  display: inline-block;
}
ul li a{
  text-decoration: none;
  color: white;
  padding: 5px 20px;
  border: 1px solid transparent;
  transition: 0.6s ease;
}
ul li a:hover{
  background-color: lightgrey;
  color: #000;
}
ul li.active a{
  background-color: lightgrey;
  color: #000;
}
.logo img{
  float: left;
  width: 200px;
  height: auto;
}
.main{
  max-width: 1200px;
  margin: auto;
}


.button {
  float: right;
  border-radius: 4px;
  background-color:#dde3ed ;
  border: none;
  color: black;
  text-align: center;
  font-size: 15px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  font-weight: bolder;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover span {
  padding-right: 25px;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}
.container{
  background-image: url("../images/purple.jpeg");
  color: antiquewhite;
  
}






