@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap');

#ab{
    color:white;
    font-size: 30px;
    text-align: center;
    border:10px dotted grey;
    border-width:  auto;
    width: 80%;
    margin-left: 8%;
    margin-top: 0%;
    font-family: 'Bree Serif', serif;    
}
body{
  background-image: url('./img1/bck3.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
    
}
.bg-primary{
  background-color: purple;
}
.glow {
  font-size: 40px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px red, 0 0 40px red, 0 0 50px red, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
